@font-face {
    font-family: 'ibm-plex-serif';
    src: url('eot/IBMPlexSerif-Regular.eot');
    src: url('eot/IBMPlexSerif-Regular.eot?#iefix') format('embedded-opentype'),
         url('woff2/IBMPlexSerif-Regular.woff2') format('woff2'),
         url('woff/IBMPlexSerif-Regular.woff') format('woff'),
         url('ttf/IBMPlexSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'ibm-plex-serif';
    src: url('eot/IBMPlexSerif-Light.eot');
    src: url('eot/IBMPlexSerif-Light.eot?#iefix') format('embedded-opentype'),
         url('woff2/IBMPlexSerif-Light.woff2') format('woff2'),
         url('woff/IBMPlexSerif-Light.woff') format('woff'),
         url('ttf/IBMPlexSerif-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

