div.unite
    <!-- marge _avant_ div.main -->
    div.marge-<...>
    
    div.main


div.main-glose
    p
    
div.marge-glose
    p

div.marge-visuel

    img
    .(source)
    .legende

div.main-slide
    img
    .source

.tweeter-tweet
    bloquote
        p
        footer

.reference
    p.auteur
    p.titre

bloquote
    span.citation
    p|spna.source

bloquote
    p.citation-ext
    p.citation-ext-auteur
    p.citation-ext-source
