/*html {
    box-sizing: border-box;
}*/
/**, *:before, *:after {
    box-sizing: border-box;
}*/

:root {
    /* --width: 8.5in; */
    /* --height: 11in; */
    --margin: 1.2in;
}

/* section {
  break-before: column;
} */

[contenteditable]:focus {
    outline: 0px solid transparent;
}


@media screen {

  body {
    background-color: whitesmoke;
  }

  /* .scaled {
    transform: scale(.6);
    transform-origin: 0 0;
  } */

  .pagedjs_page {
    /* background-color: #fdfdfd; */
    margin-bottom: calc(var(--margin) / 2);
    flex: none;
    border: 1px solid black;
  }

  .pagedjs_pages {
    width: calc(var(--width) * 2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    transform-origin: 0 0;
    margin: 0 50px;
  }

  .pagedjs_pages > .section {
    width: calc(var(--width) * 2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #controls {
    margin: 20px 0;
    text-align: center;
  }

  .pagedjs_first_page {
    margin-left: 50%;
  }
}

@media print {
  body {
    width: var(--width);
    height: var(--height);
    margin: 0;
    padding: 0;
  }

  .pages {
    width: var(--width);
    flex-direction: column;
    transform: none !important;
  }

  .page {
    margin-bottom: 0;
    flex: none;
    page-break-before: always;
  }

  #controls {
    display: none;
  }

}


/*
@media screen {
  .top .top-left-corner,
  .top .top-right-corner {
    border: 1px dotted tomato;
  }

  .top > div {
    border: 1px dotted teal;
  }

  .right > div {
    border: 1px dotted mediumseagreen;
  }

  .bottom .bottom-left-corner,
  .bottom .bottom-right-corner {
    border: 1px solid orange;
  }

  .bottom > div {
    border: 1px dotted darkblue;
  }

  .left > div {
    border: 1px dotted sienna;
  }
}
*/