/* layout-ecridil.css */


@page {
	size: 107.9mm 174.6mm;
	/* baseline */
	/* background-image:  repeating-linear-gradient(180deg, transparent  0, transparent 15px , rgba(0,255,0,0.7) 16px) ;  */
	background-size: cover;
	background-position-y: 8px;

  }



/* GLOBAL LAYOUT --------------------------------- */

 @page:left {
	 margin-top: 10mm;
	 margin-bottom: 17mm;
	 margin-left: 8mm;
	 margin-right: 16mm;
	 
	 @bottom-left{
		content: counter(page) ;
		font-family: "ibm-plex-mono", sans-serif;
		font-weight:400;
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		white-space: pre;	
		width: 30px;
		vertical-align: top;
		padding-top: 25px;
	}

	@bottom-center{
		content: "Version 0, Écridil 2018" ;
		font-size: 0.8rem;
		font-family: "ibm-plex-mono", sans-serif;
		font-weight:400;
		text-transform: uppercase;
		letter-spacing: 1px;
		white-space: pre;
		text-align: left;
		vertical-align: top;
		padding-top: 25px;
	}
	
	
	

 }

 @page:right {
	margin-top: 10mm;
	margin-bottom: 17mm;
	margin-left: 16mm;
	margin-right: 8mm;

	@bottom-center{
		content: element(shorter);
		font-size: 0.8rem;
		font-family: "ibm-plex-mono", sans-serif;
		font-style: italic;
		letter-spacing: 1px;
		white-space: pre;
		text-align:right;
		vertical-align: top;
		padding-top: 25px;
	}

	@bottom-right{
		content: counter(page);
		font-size: 0.8rem;
		font-family: "ibm-plex-mono", sans-serif;
		font-weight:400;
		text-transform: uppercase;
		letter-spacing: 1px;
		white-space: pre;
		width: 30px;
		text-align: right;
		vertical-align: top;
		padding-top: 25px;
	}

}

.shorter{
    position: running(shorter);
    text-align: right;
    margin: 0!important;
}

section h1{
    string-set: sectiontitle content(text);
}

@page:blank {
	@bottom-left { content: none; }
	@bottom-center { content: none; }
	@bottom-right { content: none; }
 }



/* FRONTMATTER ------------------------------------------- */

.frontmatter {
	break-before: right;
	break-after: page;
}

#version-0-1 figure{
	width: 20mm;
	float: right;
	position: relative;
	top: 406px;
	/* position: absolute;
	right: 0;
	bottom: -55px; */
	background-color: white;
}

/* Hack to don't cut the figure */
[data-page-number="3"] .pagedjs_page_content { height: 700px!important; }

#pagelicence {
	position: absolute;
	bottom: 0;
}

@page:nth(4) {
	@bottom-left { content: none;}
	@bottom-center { content: none;}
	@bottom-right { content: none;}
}
 


/* CHAPTER -------------------------------------- */

 @page chapter:left{
	margin-top: 16mm;
	margin-bottom: 17mm;
	margin-left: 8mm;
	margin-right: 12mm;
	
 }
  @page chapter:right{
	margin-top: 16mm;
	margin-bottom: 17mm;
	margin-left: 12mm;
	margin-right: 8mm;

 }

 @page chapter:first{
	@bottom-center { opacity: 0 }
	@bottom-right{
		font-family: var(--ibm-mono);
	font-weight: 300;
	font-style: italic;
	font-size: 4rem;
	padding-top: 14px;
	width: 300px;
	}
 }


.chapter {
	page: chapter;
	break-before: right;
	/* break-after: right; */
}



/* Breaks --------------------------------- */

/* .chapter h1{
	break-after: right;
} */

.fragment {
	break-before: page;
	break-after: page;

}

.break-before-right {
	break-before: right;
}


.break-frontmatter{
	break-before:page;
}

.avoid-break{
	break-inside: avoid;
}

.break-before {
	break-before: page;
}



/* POSTMATTER -------------------------------------- */


.postmatter {
	page: postmatter;
	break-before: right;
	break-after: page;
}

@page postmatter {
	@bottom-left { content: none;}
	@bottom-center { content: none;}
	@bottom-right { content: none;}
}


@page:nth(160) {
	@bottom-left { content: none;}
	@bottom-center { content: none;}
	@bottom-right { content: none;}
}
 

/* table des matières */

#table-des-matieres a[href]::after {
	content: target-counter(attr(href), page);
	text-align: right;
	float: right;
	width: 5mm;
}

#table-des-matieres a {
	text-decoration: none;
}

#table-des-matieres ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

#table-des-matiere ul li:before {
	display:none!important;
}

#table-des-matiere ul > li{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#pagelicence{
	break-before: page!important;
}


