:root {
	--ibm: "ibm-plex-serif", sans-serif;
	--ibm-mono: "ibm-plex-mono", sans-serif;
	--font-size: 10px;
	font-size: 10px;
	--espace-glose: 2em;
	--baseline: 14px;
	line-height: var(--baseline);
	--size-source: 0.8rem;
	--font-size-glose: 0.8rem;
	--border-title: 2px solid black;
	--border-block: 2px solid black;
	--margin-left-glose: 5rem;
}

body{
	font-family: var(--ibm);
	font-weight: 300;
}

* {
	margin: 0;
	padding: 0;
}

a:link, a:visited {
  color: inherit;
}

ul, ol {
  padding-left: 1em;
  margin-left: 1em;
}

.alinea{
	width: 1rem;
	height: 1px;
	display: inline-block;
}

ul {
    list-style-type: none;
}

ul > li {
    position: relative;
}

ul > li:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 1em;
    width: 0.6em;
    top: 0.1em;
    left: -1em;
    background-image: url('icones/hyphen.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.none { display: none; }


/* Page de titre */

#version-0-1 h1 {
	font-family: var(--ibm-mono);
	font-weight: 300;
	font-style: italic;
	font-size: 4.3rem!important;
	text-align: right!important;
	padding-top: 42px!important;
}

#version-0-1 h2 {
	font-family: var(--ibm-mono);
    font-weight: 300;
    font-style: italic;
    font-size: 1.6rem!important;
    line-height: 1.5rem;
	text-align: right!important;
	margin-top: 9px!important;
}



#version-0-1 figure{
	width: 20mm;
	background-color: white;
}

#version-0-1 figcaption{
	display: none;
}

/* Page licence */

#pagelicence a{
	text-decoration: none;
}

#pagelicence h1 {
	display: none;
}

#pagelicence p {
	font-family: var(--ibm-mono)!important;
	font-style: italic!important;
	font-size: 0.85rem!important;
	line-height: 1.2rem!important;
}

#pagelicence img:nth-of-type(1) {
	width: 40%;
	display: inline-block;
	margin-top: 5mm;
	margin-right: 5mm;
}

#pagelicence img:nth-of-type(2){
	width: 25%;
	display: inline-block;
	margin-top: 5mm;
}

#pagelicence img:nth-of-type(3){
	width: 90%;
}

/* frontmatter */

.frontmatter p{
	hyphens: auto;
}

#la-chaine-editoriale h2,
#lindex h2 {
	margin-top: 14px!important;
}

#booksprint ol{
	margin-top: 0px!important;
}

/* titre des chapitres*/
.chapter h1, .postmatter h1{
	font-family: var(--ibm-mono);
	font-weight: 300;
	font-style: italic;
	font-size: 4rem;
	line-height: 4.3rem;
	text-align: right;
	padding-top: 8px;
}

/* 
.chapter h1::after {
	content: counter(page);	
	z-index: 1000;
	width: 100%;
	height: 40mm;
	background-color: white;
	display: block;
	position: absolute;
	bottom: -40mm;
	right: 0;

} */


.chapter h2, h3, h4, h5 {
    display: none;
}



.fragment,
.main-slide {
	position: relative;
}



.glose-photo::before,
.glose-biblio::before,
.glose-twitter-tweet::before {
	content:" ";
	display: block;
	width: 20px;
	height: 20px;
	background-color: white;
	background-size: 10px 10px;
	background-repeat: no-repeat;


}


/*Table des matières */

#table-des-matieres ul{
	list-style-type: none;

}

#table-des-matieres li::before{
	display:none!important;
}

#table-des-matieres .saut,
#colophon .saut{

	margin-top: 16px;
}




/* CITATION --------------------------------------------------- */


/* main-citation */

.main-citation::before {
	content:" ";
	display: block;
	background-color: white;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 25px;
	background-image: url("icones/citation.png");
	height: 35px;

}


.main-citation {
	font-size: 1.5rem;
	line-height: 24px;
	/*border-bottom: var(--border-block);*/
	/*padding: 0 20px;*/
    position: relative;
}




    .main-citation blockquote + p {
		padding-top: 8px;		
    }

    .main-citation .source::before,
    .main-citation-ext .source::before {
        content: '— ';
    }

    .main-citation-ext .auteur-ext{
        padding-top: 0.8rem;
    }

    .main-citation .source {

    }


/* glose-citation */

.glose-citation {
	font-family: var(--ibm-mono);
	font-style: italic;
	font-size: 1rem;
	line-height: 1.2rem;
	margin-left: var(--margin-left-glose);
}

.glose-citation::before{
	content:" ";
	display: block;
	width: 20px;
	height: 20px;
	background-color: white;
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-image: url("icones/citation.png");
	position: relative;
	top: 2em;
	left: -2rem;
}


.glose-citation .source::before {
	content: '— ';
}

.main-citation-courte {
	font-size: 3rem;
	line-height: calc(var(--baseline)*3);
	border-left: var(--border-block);
	border-right: var(--border-block);
	padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    page-break-inside: avoid;
}
.main-citation-courte ::before {
    content: '“';
    font-size: 6em;
    color: #ccc;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0.2em;
    left: 0;
}

    .main-citation-courte p {
        padding-left: 35px;
        position: relative;
        z-index: 1;
    }

    .main-citation-courte .source {
        margin-top: 40px;
        font-size: 0.5em;
    }

    .main-citation-courte .source::before {
        content: "— ";
        font-size: 1.2rem;
    }


.main-citation-emphase {
    font-style: italic;
	font-size: 2.2rem;
	line-height: calc(var(--baseline)*2);
	border-left: var(--border-block);
	border-right: var(--border-block);
	padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    page-break-inside: avoid;
}




/* PHOTOGRAPHIE --------------------------------------------------- */

.main img, .glose img {
    width: 100%;
}


.main-photo.polaroid figure {
    padding: 1rem;
	padding-bottom: 3rem;
    /**
     * combine 2 box shadows:
     *   light spread
     * + dark, low-spread shadow
     */
    box-shadow:
		1px 8px 12px -4px rgba(0, 0, 0, 0.35),
		1px 2px 3px -1px rgba(0,0,0,0.3);
}

.glose-photo.polaroid figure {

	width: 60%;
	/* margin-le ft: 10%; */
    padding: 0.8rem;
	padding-bottom: 1.5rem;
    /**
     * combine 2 box shadows:
     *   light spread
     * + dark, low-spread shadow
     */
    box-shadow:
        1px 8px 12px -4px rgba(0, 0, 0, 0.35),
        1px 2px 3px -1px rgba(0,0,0,0.3);
}





.main-photo figure{
	width: 100%;
	margin-bottom: 1rem;

}

.main-photo img {
	width: 100%;
	margin-bottom: 10px;
}


/* Glose slide */

.glose-photo img {
	width: 100%;
	padding-bottom: 10px;
}


/* SLIDE --------------------------------------------------- */

/* main slide */



.main-slide figure{
	width: 100%;
}

.main-slide img{
	width: 100%;
	border: solid 0.75pt black;
	margin-bottom: 0.5rem;
}

.main-slide figcaption:before, 
.glose-slide figcaption:before {
	content:"↑ ";
}




/* Glose slide */

.glose-slide img {
	margin-top: 2em;
	width: 80%;
	margin-bottom: 0.5rem;
}

.glose-slide::before {
	background-image: url("icones/eye.png");
}



/* BIBLIO --------------------------------------------------- */

.main-biblio::before,
.glose-biblio::before {
background-image: url("icones/reference.png");
}

.glose-biblio{
	margin-left: var(--margin-left-glose);
}
.glose-biblio::before {
	position: relative;
	top: 2.2em;
	left: -2rem;
}


.main-biblio::before{
	width: 15px;
}

.main-biblio {
	/* font-family: var(--sans-serif2); */
	font-weight: 300;
	font-size: 1.5rem;
	line-height: calc(var(--baseline)*1.5);

}



.main-biblio .biblio-autre {
	font-size: 1rem;
}

.glose-biblio p{
	display: inline;
	/* font-family: var(--sans-serif2); */
	font-family: var(--ibm-mono);
	font-style: italic;
	font-size: 0.9rem;
	line-height: 1.2rem;

}

.biblio-titre {
	font-style: normal;
}


.glose-biblio p::after{
	/* content: ", "; */
}

.glose-biblio .biblio-autre::after{
	content: ".";
}



/* TEXTE --------------------------------------------------- */

.main-texte{
	font-size: 1.2rem;
	line-height: 1.6rem;
}


.glose-texte::before{
	content: "⚬";
	 display:inline;
	position: relative;
	top: 1.2rem;
	left: -2rem;
	font-size: 1.2rem; 
}



.glose-texte {
	margin-top: 22px;
	margin-left: var(--margin-left-glose);
	font-family: var(--ibm-mono);
	font-size: 0.9rem;
	line-height: 1.2rem;
}

/* twitter-tweet------------------------------------------------ */

/*  .main-twitter-tweet */

.glose-twitter-tweet {
	margin-top: 32px;
	font-family: var(--ibm-mono);
	margin-right: 1rem;

}

.main-twitter-tweet{
	font-size: 1.2rem;
	line-height: 1.6rem;
}

.main-twitter-tweet,
.glose-twitter-tweet {
    position: relative;
    border: 1px solid black;
    border-radius: 0.3rem;
    /* align-self: baseline;  */
}


/* remove decoration on twitter anchors */
.main-twitter-tweet a,
.glose-twitter-tweet a {
    text-decoration: none;
}

/*
a[href^="https://twitter.com/hashtag/"] {
  text-decoration: none;
}
*/


.main-twitter-tweet {
  padding: 16px 20px;
  position: relative;
  top: -1px;
}

.glose-twitter-tweet {
  padding: 1.8rem;
  margin-left: var(--margin-left-glose);
}

.main-twitter-tweet::before,
.glose-twitter-tweet::before {
	content:" ";
	display: block;
	background-color: white;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 25px;
    position: absolute;
	background-image: url("icones/twitter.png");
    background-color: white;
    background-position: top left;
}

.main-twitter-tweet::before {
    top: -0.3rem;
    left: -0.3rem;
    height: 2.8rem;
    width: 2.8rem;
    background-size: 1.8rem;
}

.glose-twitter-tweet::before {
    top: -0.15rem;
    left: -0.15rem;
    height: 2.4rem;
    width: 2.4rem;
    background-size: 1.4rem;
}

.main-twitter-tweet blockquote,
.glose-twitter-tweet blockquote {
	position: relative;

}


.glose-twitter-tweet blockquote {
	font-size: 1rem;
	line-height: 1.2rem;
}


/* source ------------------ */
/*.main .source, .glose .source {*/
.keyword {
	font-size: var(--font-size-glose);
	/* font-family: var(--mono); */
	font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
/*
	padding-top: 1rem;
    padding-right: 1rem;
*/

}

.keyword::before {
    content: "#";
}

/* espacer keywords adjacents */
/* tout `.keyword` précédé d’un autre `.keyword` aura un peu d’espace à sa gauche */
.keyword + .keyword {
    margin-left: 0.5rem;
}

/*

.main .source::after, .glose .source::after {
	display:none!important;
}
*/

.keyword-manicule::before {
	font-size: var(--size-source)!important;
	font-family: var(--mono)!important;
	content: "☞ "!important;
	display: inline!important;
	left: 0!important;
	top: 0!important;
}


/* frontmatter */


.frontmatter h1, .postmatter h1 {
	font-family: var(--ibm-mono);
	font-weight: 300;
	font-style: italic;
	/* text-transform: uppercase;
	letter-spacing: 1px; */

	font-size: 1.6rem;
	line-height: 1.5rem;
	padding-top: 126px;
	padding-bottom: 5mm;
	text-align: left;

}

.postmatter h2, .frontmatter h2, .frontmatter h3 {
	font-family: var(--ibm-mono);
	font-weight: 300;
	font-style: italic;
	font-size: 1rem;
	margin-top: 30px;
	margin-bottom: 0.4rem;
}

.frontmatter img {
	width: 110%;
	/* border: dotted 1px black; */
	/* padding: 3px; */
	margin-bottom: 10px;
}

.frontmatter ol {
 margin-left: 1rem;
  margin-top: 1rem;
}

.frontmatter p, 
.frontmatter li,
.postmatter p,
.postmatter li {
	font-size: 1.2rem;
	line-height: 1.6rem;
	position: relative;
	top: 6px;
}


.couv img {
    height: 1441px;
    position: absolute;
    margin-top: -200px;
    margin-bottom: 100px;
    margin-left: 80px;
}

.couv h1 {
	/* font-family: var(--sans-serif2); */
	text-align: right;
	font-size: 5rem;
	color: #F08080;
	margin-bottom: 2rem;
}

.couv p {
	/* font-family: var(--sans-serif2); */
	text-align: right;
	font-size: 2rem;
	color: #F08080;
	margin-bottom: 1rem;
}


.couv figcaption {
	display: none;
}







/* RETOUCHES */

#m img,
#frag-1 img,
#frag3-8 img,
#frag4-6 img,
#frag2-6 img,
#frag-17 img {
	border: none;
}

.main-twitter-tweet + .glose-texte{
	position: relative;
	top: -2px;
}

.main-texte + .glose-twitter-tweet {
	position: relative;
	top: -1px;
}

.main-twitter-tweet + .glose-twitter-tweet {
	position: relative;
	top: -2px;
}


.main-slide + .main-twitter-tweet{
	margin-top: 22px;
}

.glose-citation + .glose-texte {
	margin-top: 2px;
}

.glose-texte + .glose-texte {
	margin-top: 2px;
}

/* Grande citation */


#frag1-4 .main-citation,
#table-ronde,
[data-text="141"],
#frag-5 .main-citation,
#frag1-3 .main-citation,
#frag2-3 .main-citation,
#frag2-4 .main-citation,
#frag3-6 .main-citation,
#frag-6 .main-citation,
#frag1-8 .main-citation,
#frag1-9 .main-citation,
#frag1-10 .main-citation,
#frag-23 .main-citation,
#frag-27 .main-citation,
#frag1-12 .main-citation {
	font-size: 2.8rem;
	line-height: 32px;
	position: relative;
	top: -17px;
}


#frag1-4 .main-citation::before,
#table-ronde::before,
[data-text="141"]::before,
#frag-5 .main-citation::before,
#frag1-3 .main-citation::before,
#frag2-3 .main-citation::before,
#frag2-4 .main-citation::before,
#frag3-6 .main-citation::before,
#frag-6 .main-citation::before,
#frag1-8 .main-citation::before,
#frag1-9 .main-citation::before,
#frag1-10 .main-citation::before,
#frag-23 .main-citation::before,
#frag-27 .main-citation::before,
#frag1-12 .main-citation::before {
	position: relative;
	top: -5px;
}

#frag1-4 blockquote + p,
#table-ronde blockquote + p,
[data-text="141"] blockquote + p,
#frag-5 blockquote + p,
#frag1-3 .main-citation blockquote + p,
#frag2-3 .main-citation blockquote + p,
#frag2-4 .main-citation blockquote + p,
#frag3-6 .main-citation blockquote + p,
#frag-6 .main-citation blockquote + p,
#frag1-8 .main-citation blockquote + p,
#frag1-9 .main-citation blockquote + p,
#frag1-10 .main-citation blockquote + p,
#frag-23 .main-citation blockquote + p,
#frag-27 .main-citation blockquote + p,
#frag1-12 .main-citation blockquote + p{
	font-size: 1.5rem;
	line-height: 24px;
	margin: 0;
}



#frag3 .main-texte,
#frag2 .main-texte,
#frag3-3 .glose-texte,
#frag3-2,
#frag5-1 .glose-texte,
#frag4-1,
#frag6,
#frag4-2 .glose-citation,
#frag4-4,
#m-8 {
	hyphens: auto;
}


#parcours .keyword,
#frag3-2 .keyword,
#epron_fiche-1 .keyword,
#frag1-5 .keyword {
	position: relative;
	top: 16px;
}


#frag-2 img,
#frag1-5 img,
#frag3-5 img{
	border: none!important;
}


/* Artchitecture */
#g-1 {
	font-size: 2.8rem;
	line-height: 32px;
	position: relative;
	top: 1px
}

#frag-3 { top: -3px;}






/* Clôture */


#g-3{
	position: relative;
	top: -13px;
}


#frag3 .main-texte, 
#frag7 .main-texte{
	position: relative;
	top: -1px;
}

#fragment4 .glose-texte {
	position: relative;
	top: -1px;
}


/* Collectif*/

#marcoux_communication {
	position: relative;
	top: -25px;
}

#epron_fiche .keyword{
	position: relative;
	top: 15px;
}
#marcoux_communication .source {
	position: relative;
	top: 16px;
}

#frag1-1{
	position: relative; 
	top: -1px;
}

#marcoux_photo img{
	width: 35%;
	margin-top: -35px;
	margin-left: 58%;
	margin-bottom: 0;
	position: relative;
	left: 22px;
	top: 2px;
}

#marcoux_photo figcaption{
	display: none;
}

#frag3-1 .glose-twitter-tweet{
	margin-top: 2rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

/* Espace (public) */

#frag3-3 .glose-texte{
	position: relative;
	top: -19px;
}

#frag3-2 {
	position: relative;
	top: -1px;
}
#frag1-2 .main-twitter-tweet{
	position: relative;
	top: -2px;
}

#charbonneau_tweet + .glose-citation {
	position: relative;
	top: 11px;
}



#g-8::before{
	display:none;
}

#frag4-1 .main-citation{
	position: relative;
	top: -25px;
}




/* Forme */




#frag2-2 .main-citation, 
#frag5-2 .main-citation, 
#frag6 .main-citation,
#frag7-1 .main-citation {
	position: relative;
	top: -25px;
}

#frag2-2 .glose-texte{
	position: relative;
	top: -30px;
}

#frag5-2 .glose-biblio{
	position: relative;
	top: -10px;
}

#frag4-2 .glose-citation{
	position: relative;
	top: 15px;
}

#frag5-2 .glose-biblio {
	position: relative;
	top: -21px;
}


#frag6 .glose-photo::before {
	display:none;
	margin-top: 0;
	padding-top: 0;
	position: relative;
	top: -12px;
}

#frag6 .glose-photo.polaroid figure{
	width: 45%!important;
	margin-top: -20px;
	/* float: right; */
}

#frag7-1 .glose-texte{
	position: relative;
	top: -32px;
}

#frag8 .glose-citation{
	position: relative;
	top: 9px;
}

#frag8 .keyword{
	position: relative;
	top: 15px;
	/* left:-22px; */
}

#frag9 .glose-biblio {
	padding-top: 15px;
}

#frag9 .glose-texte::before {
	display:none;
	
}

#frag9 .glose-texte{
	margin-left: 0;
	padding-left: 0;
	position: relative;
	top: -2px;
}

/* Geste d'écriture */


#frag1-4 .glose-texte {
 position: relative;
 top: -27px;
}

#frag-4 figure {
	width: 60%;
}

#frag-4 img,
#f-1 img,
#frag-19 img {
	border: 0.75pt solid black;
} 


#frag-4 .glose-texte{
	position: relative;
 top: 3px;
}

#frag-5 figcaption {
	position: relative;
	top: -1px;
}

#frag-5 .glose-texte {
	position: relative;
	top: -2px;
}

/* #frag-7 .glose-texte {
	position: relative;
	top: -1px;
} */


#frag-6 .glose-texte {
	position: relative;
	top: -1px;
}






/* Jeu */


#frag2-3 .glose-texte{
	position: relative;
	top: -20px;
}
#frag1-5 .glose-texte{
	position: relative;
	top: 2px;
}

#frag3-5 .glose-texte{
	position: relative;
	top: 2px;
}

#frag4-3 .glose-texte{
	position: relative;
	top: 2px;
}



/* Humanités numériques */


#m-4,
#frag1-6 .main-citation,
#frag8-enjeux-de-publication-suite .main-citation {
	position: relative;
	top: -25px;
}

#frag6-1 .main-citation {
	position: relative;
	top: -24px;
}

#frag6-1 .glose-texte{
	position: relative;
	top: -19px;
}


#m-5 {
	position: relative;
	top: -17px;
}





#frag2-4 .glose-texte {
	margin-top: 0;
	padding-top: 0;
	position: relative;
	top: -6px;
}

#frag3-6 .glose-citation {
	position: relative;
	top: -7px;
}

 #frag4-4 .glose-texte {
	position: relative;
	top: -7px;
}




#frag5-3 .main-photo{
	margin-top: 23px;
}

#g-20{
	margin-top: 0;
	position: relative;
	top: -10px;
}


#frag7-2 .glose-texte{
	position: relative;
	top: 23px;
}

#frag4-4 img,
#frag7-2 img{
	border: none;
}

#frag8-enjeux-de-publication-suite .glose-texte{
	position: relative;
	top:-27px;
}

/* matérialité */

#frag1-7 .main-citation, 
#frag4-5 .main-citation {
	position: relative;
	top: -8px;
}

#frag6-2 .main-twitter-tweet {
	position: relative;
	top: 1px;
}
#frag6-2 .main-twitter-tweet .twitter-tweet p{
	font-size: 2.8rem;
	line-height: 32px;
	padding-bottom: 15px;
}

#jahjah_tweet-1,
#tadier_tweet {
	position: relative;
	top: -3px;
}


/* Mouvement */

#frag-9 .main-twitter-tweet {
	position: relative;
	top: -2px;
}

#frag-10 .main-citation {
	position: relative;
	top: -8px;
}

#frag-10 .glose-texte {
	position: relative;
	top: -3px;
}

#frag-11 .main-citation {
	position: relative;
	top: -25px;
}

#frag-12 .main-texte {
	position: relative;
	top: -1px;
}

#frag-13 .glose-texte {
	position: relative;
	top: -1px;
}

#frag-13 .glose-biblio {
	position: relative;
	top: 2px;
}


#g-25{
	position:relative;
	top: 2px;
}


/* parcours */

#g-31 {
	position:relative;
	top: 8px;
}

#frag1-9 .keyword{
	position: relative;
	top: -1px;
}

#frag2-6 .glose-citation {
	position:relative;
	top: 13px;
}

#frag3-8 .glose-texte {
	position:relative;
	top: 15px;
}

#frag4-6 .glose-texte {
	position:relative;
	top: 1px;
}



#frag6-3 .main-citation {
	position: relative;
	top: -8px;
}

#frag6-3 .glose-texte {
	position: relative;
	top: -3px;
}

/* sémiotique */


#frag-15 .main-texte {
	position: relative;
	top: -1px;
}

#frag-16 .main-twitter-tweet {
	position: relative;
	top: -2px;
}

#frag-14 .glose-texte {
	position: relative;
	top: -4px;
}

#frag-16 .glose-twitter-tweet {
	position: relative;
	top: -3px;
}



/* sensorialité */

#frag-21 .glose-texte,
#frag-21 figcaption{
	position: relative;
	top: -2px;
}

#laborderie_pdf {
	font-size: 2.8rem;
	line-height: 32px;
	position: relative;
	top: 2px!important;
}

#frag-19 .main-citation {
	position: relative;
	top: -24px;
}


#frag-20{
	position: relative;
	top: -1px;
}

#frag-22 .main-twitter-tweet{
	position: relative;
	top: 1px;
}

#frag-22 .main-twitter-tweet .twitter-tweet p{
	font-size: 2.8rem;
	line-height: 32px;
}

#frag-22 {
	position: relative;
	top: -4px;
}



#frag-24 .glose-texte {
	position: relative;
	top: -3px;
}
#frag-24 .main-citation,
#frag-26 .main-citation {
	position: relative;
	top: -25px;
}

#frag-18 .main-texte {
	position: relative;
	top: -5px;
}


/* transferts */

#frag1-12 .glose-texte {
	margin-top: 0;
	position: relative;
	top: -6px;
}

#frag2-7 .glose-texte {
	position: relative;
	top: -2px;
}

#frag2-7 .keyword {
	position: relative;
	top: 15px;
}

#g-46 {
	margin-top: 0;
	position: relative;
	top: 2px;
}

#g-47::before{
	top: -36px!important;
}

#g-47,
#frag6-4 .main-texte {
	position: relative;
	top: -1px;
}

#frag4-7 .main-citation {
	position: relative;
	top: -25px;
}

#frag4-7 .glose-texte {
	position: relative;
	top: -20px;
}

#frag1-12{
	position: relative;
	top: 1px;
}

#carnetdlis-1{
	position: relative; 
	top: -2px;
}


/* Typographie */

#g-50{
	position: relative;
	top: 2px;
}

#frag-29 .glose-biblio {
	position: relative;
	top: 13px;
}

#frag2-8 figcaption {
	position: relative;
	top: 5px;
}

#perret_tweet{
	margin: 0;
	position: relative;
	top: 25px!important;
}

#perret_tweet img{
	width: 90%;
	padding: 5px 0;
}
#frag-29 .main-texte,
#frag-30 .main-texte{
	position: relative;
	top: -1px;
}


/* Colophon */

#colophon h1{
	/* margin-top: 0;
	padding-top: 0; */
}


#editeurs h2{
	margin-top: 18px;
}

#colophon h2{
	margin-bottom: 0;
	padding-bottom: 0;
	position: relative;
	top: 6px;
	margin-top: 10px;
}



#soubret_doc img{
	padding-bottom: 0;
}