@font-face {
    font-family: 'ibm-plex-mono';
    src: url('eot/IBMPlexMono-Light.eot');
    src: url('eot/IBMPlexMono-Light.eot?#iefix') format('embedded-opentype'),
         url('woff2/IBMPlexMono-Light.woff2') format('woff2'),
         url('woff/IBMPlexMono-Light.woff') format('woff'),
         url('ttf/IBMPlexMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'ibm-plex-mono';
    src: url('eot/IBMPlexMono-LightItalic.eot');
    src: url('eot/IBMPlexMono-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('woff2/IBMPlexMono-LightItalic.woff2') format('woff2'),
         url('woff/IBMPlexMono-LightItalic.woff') format('woff'),
         url('ttf/IBMPlexMono-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic; 
}

@font-face {
    font-family: 'ibm-plex-mo';
    src: url('eot/IBMPlexMono-Regular.eot');
    src: url('eot/IBMPlexMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('woff2/IBMPlexMono-Regular.woff2') format('woff2'),
         url('woff/IBMPlexMono-Regular.woff') format('woff'),
         url('ttf/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'ibm-plex-mono';
    src: url('eot/IBMPlexMono-Italic.eot');
    src: url('eot/IBMPlexMono-Italic.eot?#iefix') format('embedded-opentype'),
         url('woff2/IBMPlexMono-Italic.woff2') format('woff2'),
         url('woff/IBMPlexMono-Italic.woff') format('woff'),
         url('ttf/IBMPlexMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic; 
}


@font-face {
    font-family: 'ibm-plex-mo';
    src: url('eot/IBMPlexMono-Medium.eot');
    src: url('eot/IBMPlexMono-Medium.eot?#iefix') format('embedded-opentype'),
         url('woff2/IBMPlexMono-Medium.woff2') format('woff2'),
         url('woff/IBMPlexMono-Medium.woff') format('woff'),
         url('ttf/IBMPlexMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}




@font-face {
    font-family: 'ibm-plex-mono';
    src: url('eot/IBMPlexMono-MediumItalic.eot');
    src: url('eot/IBMPlexMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('woff2/IBMPlexMono-MediumItalic.woff2') format('woff2'),
         url('woff/IBMPlexMono-MediumItalic.woff') format('woff'),
         url('ttf/IBMPlexMono-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}